# macOS
.DS_Store

# Xcode
build/
DerivedData/
*.xcuserstate
xcuserdata/
*.moved-aside
*.xccheckout
*.xcscmblueprint

# Swift Package Manager
.swiftpm/
.build/

# Archives
*.xcarchive

# User-specific
*.mode1v3
*.mode2v3
*.perspectivev3

# Local design sessions
.superpowers/
